@model IEnumerable<RepositoryPatern.Entities.Customer>

<h2>Customer List</h2>

<a asp-action="Create" class="btn btn-primary">Add Customer</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Region</th>
            <th>PostalCode</th>
            <th>Country</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td>@item.Region</td>
                <td>@item.PostalCode</td>
                <td>@item.Country</td>
                <td>@item.Phone</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

      
        
